@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: beige;

}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}